.App {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
}

.App h1 {
  text-align: center;
  font-size: 2.5rem;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background: var(--primary-color);
  border-radius: 10px;
}

.mode-indicators {
  font-size: 18px;
}
.mode-selector {
  display: flex;
  gap: 15px;
}

.mode-selector button {
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.active {
  background: #28262c;
  color: white;
  border: none;
}

.color-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  width: 90%;
  height: 200px;
  border: 2px solid gray;
  border-radius: 10px;
  font-size: 1.8rem;
}

.copy-color {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  bottom: -15px;
  cursor: pointer;
  overflow: hidden;
  margin-top: 140px;
  transition: margin-top 0.4s ease;
}

.copy-color:hover {
  margin-top: 120px;
}
