*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-color: #f9f5ff;
  --secondary-color: #28262c;

  /* fonts */
  --main: 'Roboto', sans-serif;
  --headings: 'Poppins', sans-serif;

  /* spacing */
  --space-xd: 0.5rem;
  --space-md: 1rem;
  --space-xl: 2rem;
}

body {
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings);
}
